<div class="light-theme" fxLayout="column" style="height: 100%">
  <div class="mat-app-background" fxLayout="column" fxFlex>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        Agenda panel
<!--        <button mat-flat-button color="accent" [routerLink]="['/admin/articles/'+article.id+'/edit']">Edit</button>-->
      </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="column" class="agenda-panel-container">
      <button fxFlex="" mat-flat-button color="accent" (click)="openDialog($event)">Add item</button>
      <button fxFlex="" mat-flat-button color="primary" (click)="addSession($event)">Add Session</button>
    </div>
    <div *ngIf="items | async as items">
      <app-agenda-list-item *ngFor="let item of items" [item]="item" [route]="'admin'"></app-agenda-list-item>
    </div>

    <ng-container *ngIf="sessions | async as sessions">
      <app-session *ngFor="let session of sessions" [item]="session">
        <div *ngIf="items | async as items">
          <app-agenda-list-item *ngFor="let item of items | agendaFilter: session.number" [item]="item" [route]="'admin'"></app-agenda-list-item>
        </div>
      </app-session>
    </ng-container>


  </div>
</div>
