@import "../../../styles/custom-theme";
p {
  //text-align: justify;
}
.mat-display-1 {
}

.article-view {
  a {
    color: red !important;
  }
  //text-align: justify;
  //padding: 16px;
  .article-title {
    margin-bottom: 16px !important;
    text-transform: uppercase;
  }
}
