<div fxLayout="row" style="min-height: 1000px" class="background-primary">
  <div fxFlex=""></div>
  <div class="container" style="height: 100%; padding: 64px 16px 0 16px;" fxLayout="column">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon color="accent">arrow_back</mat-icon>
    </button>
    <p class="mat-display-1" style="margin-top: 8px; margin-bottom:16px;text-transform: uppercase">Welcoming note</p>
<!--    <p class="mat-headline" style="margin-bottom: 16px">Mining: The Road to Recovery</p>-->
    <p class="mat-body-1">The 18th annual International Mining Investors' Forum will be held on October 30, 2020.</p>
    <p class="mat-body-1">In the year 2020, Mongolia's economy and its main engine- the mining industry, must adapt to challenges and uncertainties emanating from the global pandemic. The people and the Government of Mongolia must rely heavily on the mining industry to overcome the economic crisis. Despite internal and external challenges, the Mongolian mining sector remains resilient, and the industry is adapting to the "New Normal." </p>
    <p class="mat-body-1">In this pivotal time, cooperation among the mining and exploration companies, the policymakers, and civil society leaders will be crucial in pinpointing the effective strategy to avoid further economic recession. At Discover Mongolia, by bringing together some of the brightest minds in mining, provide insight into how we can bring innovation to our industry during these challenging times. We aim to connect participants with industry leaders that will help to revolutionize the mining of the future.
      We sincerely thank our sponsors, partners, exhibitors, and participants committed to the Forum for the last 18 years. During the global pandemic, staying connected, getting the latest information about Mongolia's minerals sector is more critical than ever. </p>
    <p class="mat-body-1">Тhis year’s forum will focus on:
    </p>
    <p class="mat-body-2">Outlook on the newly elected Mongolian parliament and cabinet's policy on the economy and mining sector:
    </p>
    <ul class="mat-body-1">
      <li>What are the countermeasures for the economic recession?</li>
      <li>Will there be a policy shift to revive the exploration sector?</li>
      <li>Planned amendment to the "Mineral Law" and its effect</li>
    </ul>
    <p class="mat-body-2">The Macroeconomy:
    </p>
    <ul class="mat-body-1">
      <li>Impact of COVID-19 on the Mongolian economy</li>
      <li>What are the short and midterm risks?</li>
      <li>Impacts on companies, government and the public</li>
      <li>What is the economic outlook for neighbouring countries and the region?</li>
      <li>How can the private sector cooperate with the government to accelerate economic recovery?</li>
    </ul>
    <p class="mat-body-2">Business readiness</p>
    <ul class="mat-body-1">
      <li> In the case of community spread of COVID-19, mining will be the only sector to keep the economy afloat. To ensure sustainable mining production, the industry and the government must maintain a collective contingency plan: my</li>
    </ul>
    <div fxLayout="column" fxLayoutAlign="center start" style="margin: 32px 0 32px 0">
      <p class="mat-body-2 mat-primary">Please follow our social media channels for latest activity.</p>
      <div fxLayout="row" >
        <button mat-icon-button class="social-button" (click)="goToLink('https://www.facebook.com/discovermongoliaimif')">
          <i class="fab fa-facebook fa-2x" style="color: #3b5998"></i>
        </button>
        <button mat-icon-button (click)="goToLink('https://twitter.com/DiscoverMng')">
          <i class="fab fa-twitter fa-2x" style="color: #00acee "></i>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex=""></div>
</div>
