.mat-display-1{
  margin: 0 !important;
}
.mat-display-2{
  margin: 0 !important;
}
.section-card-container {
  //min-height: 250px;
  //background-color: yellow;
  padding: 36px;
}


.section-card-title {
  width: 250px;
  //background-color: green;


}
.section-card-content {

}
.item-card-container {
  height: 100%;
  background-color: red;
  padding: 16px;
}
