<div class="section-card-container" fxLayout.xs="column" fxLayout.gt-sm="row" >
  <div class="section-card-title" fxLayout="column">
    <p class="mat-display-2">Key events</p>
    <div class="mat-body-2 ">This is subtitle</div>
  </div>
  <div fxFlex>
    <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 3"  rowHeight="1:1" gutterSize="2px" >
      <mat-grid-tile *ngFor="let item of events" (click)="openDialog(item)">
        <div class="item-card-container" fxLayout="column" fxLayoutAlign="end start" fxFlex="" >
          <p class="mat-title mat-accent">{{item.date}}</p>
          <p class="mat-display-2">{{item.title}}</p>
        </div>
        <ng-container *ngIf="item.image | async as image">
          <img class="tile-cover" [src]="image.embedUrl" alt="image">
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
