<div fxLayout="row" style="min-height: 500px">
  <div fxFlex=""></div>
  <div class="container content-container" style="height: 100%" fxLayout="column" *ngIf="article | async as article">
    <div class="article-view">
      <p class="mat-headline article-title">{{article.title}}</p>
      <div [innerHTML]="article.content"></div>
      <div class="registration">
        <mat-vertical-stepper linear #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>check</mat-icon>
          </ng-template>
          <mat-step [stepControl]="termsForm" editable>
            <form [formGroup]="termsForm">
              <ng-template matStepLabel>Terms of condition</ng-template>
              <ng-container *ngIf="toc | async as toc">
                <div [innerHTML]="toc.content"></div>
              </ng-container>
<!--              <mat-checkbox matStepperNext (change)="goForward(stepper);" formControlName="firstCtrl" required> I agree </button>-->

                <mat-checkbox class="example-margin" formControlName="isAccepted" (change)="goForward(stepper);" required>Agree</mat-checkbox>
<!--              <button mat-button matStepperNext>Next</button>-->
            </form>
          </mat-step>
          <mat-step [completed]="isCompleted" >
            <ng-template matStepLabel>Order</ng-template>
            <ng-container *ngFor="let item of registrations; let i = index">
              <app-registration-form [(badge)]="registrations[i]" [index] = i>
                <button mat-icon-button (click)="remove(i)">
                  <mat-icon>clear</mat-icon>
                </button>
              </app-registration-form>
<!--              <p>{{item.firstName}}</p>-->
<!--              <p>{{registrations[i].lastName}}</p>-->
            </ng-container>
            <div fxLayout="column">
              <button mat-flat-button style="background-color: rgba(0,0,0,0.2)" (click)="addRegistration()" fxFlex="">Add other</button>
              <button mat-flat-button (click)="orderDone(stepper)">Save</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Order summary</ng-template>
            <p>{{orders?.forum.count}}</p>
            <button mat-button matStepperNext>Confirm</button>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
  <div fxFlex=""></div>
</div>
