@import "src/styles/custom-theme";
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: mat-color($DM-accent-dark, 700);
}
::ng-deep .mat-step-icon .mat-step-icon-content {
  //top: 60%;
  font-size: 16px;
  text-align: center;

}
.registration {
  border-radius: 4px;
  margin-top: 16px;
}

.table {
  margin: 8px 0 8px 0;
}
table {
  width: 100%;
  margin-bottom: 8px;
}
.thank-you {
  background-color: white;
  padding: 16px;
  width: 100%;
  min-height: 300px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.3);
}
.mat-caption {
  margin: 0;
}
