<div fxLayout="row" style="min-height: 500px">
  <div fxFlex=""></div>
  <div class="container content-container" style="height: 100%" fxLayout="column" *ngIf="article | async as article">
    <div class="article-view">
      <p class="mat-headline article-title">{{article.title}}</p>
      <div [innerHTML]="article.content"></div>
      <div class="registration">
        <mat-horizontal-stepper linear #stepper class ="mat-accent" >
          <mat-step [stepControl]="termsForm" [editable]="true" class="mat-accent">
            <form [formGroup]="termsForm">
              <ng-template matStepLabel>Terms of condition</ng-template>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </form>
          </mat-step>
          <mat-step [stepControl]="delegateForm" [editable]="true" class="mat-accent">
            <form [formGroup]="delegateForm" fxLayout="column">
              <ng-template matStepLabel>Delegate info</ng-template>
              <div>
                <label style="margin: 0 8px 0 0">Delegate type: </label>
                <mat-radio-group aria-label="Select an option" formControlName="selected" >
                  <mat-radio-button value="'forum'" style="margin: 0 8px 0 0">Forum delegate</mat-radio-button>
                  <mat-radio-button  value="'online'">Online delegate</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput placeholder="last name" formControlName="lastName" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Company</mat-label>
                <input matInput placeholder="company" formControlName="company" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Industry</mat-label>
                <input matInput placeholder="industry" formControlName="industry" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput placeholder="phone" formControlName="phone" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" formControlName="email" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
  <div fxFlex=""></div>
</div>
