@import "src/styles/custom-theme";
.agenda-list-container {
  border: 1px solid rgba(255,255,255, 0.5);
  border-radius: 4px;
  padding: 8px;
  p {
    margin: 0;
  }
  margin: 4px 0 4px 0;
}
.agenda-list-container:hover {
  cursor: pointer;
}
.agenda-type {
  width: 10px;
  min-height: 39px;
  margin: 0 8px 0 0;
  border-radius: 4px;
}
.agenda-type.presentation {
  background-color: mat-color($DM-accent-dark,300);
}
.agenda-type.discussion {
  background-color: #fbbc05;
}
.agenda-type.social {
  background-color: #34a853;
}
