<div fxLayout="row" style="min-height: 500px">
  <div fxFlex=""></div>
  <div class="container content-container" style="height: 100%" fxLayout="column" *ngIf="article | async as article">
    <div class="article-view">
      <ng-container *ngIf="success === '0'">
        <p class="mat-headline article-title">Thank you, your order has been placed.</p>
        <p class="mat-title">Your order number is: {{transNumber}}</p>
        <div [innerHTML]="article.content"></div>
      </ng-container>
      <ng-container *ngIf="success === '1'">
        <p class="mat-headline article-title">Sorry, your payment has been declined.</p>
        <p class="mat-title">Error description: {{errorDesc}}</p>
      </ng-container>
    </div>
  </div>
  <div fxFlex=""></div>
</div>
