<div class="light-theme" fxLayout="column" style="height: 100%">
  <div class="mat-app-background" fxLayout="column" fxFlex>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        Add article
      </mat-toolbar-row>
    </mat-toolbar>
      <div class="article-add">
        <form (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <p class="mat-subheading-2">Хэлэлцүүлгийн гарчиг</p>
            <mat-form-field style="width:100%" appearance="outline"  color="accent" [floatLabel]="'never'">
              <mat-label>Гарчиг</mat-label>
              <input matInput placeholder="Гарчиг" [formControl]="title" required maxlength="150">
            </mat-form-field>
            <p class="mat-subheading-2" style="margin-top: 16px">Агуулга</p>
            <p class="mat-body-1">Include all the information someone would need to answer your question</p>
            <quill-editor [formControl]="content" [modules]="config" required></quill-editor>
<!--            <mat-hint align="end" class="mat-caption">Агуулгын доод урт 300 тэмдэгт</mat-hint>-->
<!--          </div>-->
          <div fxLayout="row" style="padding:16px 0 0 0" fxLayoutAlign="end end">
            <button mat-flat-button>Цуцлах</button>
            <ng-container *ngIf="editing else add">
              <button mat-flat-button type="submit" color="primary">Сануулах</button>
            </ng-container>
            <ng-template #add>
              <button mat-flat-button type="submit" color="primary" >Нийтлэх</button>
            </ng-template>
          </div>
          </div>
        </form>
      </div>
  </div>
</div>
