<h1 mat-dialog-title>Add video</h1>
<div mat-dialog-content fxLayout="column">
  <mat-form-field color="primary">
    <mat-label>Title</mat-label>
    <mat-hint class="mat-caption">Hint: Video name</mat-hint>
    <input type="text" matInput [(ngModel)]="data.title" required>
  </mat-form-field>
  <mat-form-field color="accent" >
    <mat-label>Subtitle</mat-label>
    <input type="text" matInput [(ngModel)]="data.subtitle" required>
    <mat-hint>Hint: Video subtitle</mat-hint>
  </mat-form-field>
  <mat-form-field color="accent" >
    <mat-label>Category</mat-label>
    <input type="text" matInput [(ngModel)]="data.category" required>
    <mat-hint>Ex: Workshop video or old video</mat-hint>
  </mat-form-field>
  <mat-form-field color="accent" >
    <mat-label>Subcategory</mat-label>
    <input type="text" matInput [(ngModel)]="data.subcategory" required>
    <mat-hint>Ex: Workshop questions number</mat-hint>
  </mat-form-field>
  <mat-form-field color="accent" >
    <mat-label>Embedded url</mat-label>
    <input type="text" matInput [(ngModel)]="data.url" required>
    <mat-hint>Ex: Url from youtube</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="data.id">
    <p>Image</p>
    <input type="file" (change)="onFileSelected($event.target.files)" id="file">
    <button mat-flat-button (click)="upload()">Upload file</button>
    <div *ngIf="snapshot | async as snap">
      {{snap.bytesTransferred}} of {{snap.totalBytes}}
    </div>
    <div *ngIf="percentage | async as pct">
      <progress [value]="pct" max="100"></progress>
      {{pct | number}} %
    </div>
    <!--      {{ snap.bytesTransferred }} of {{ snap.totalBytes }}-->
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="!data.url">save</button>
</div>
