.speaker-list {
  p {
    margin: 0;
  }
  p.mat-title{
    line-height: 24px !important;
  }
  padding: 4px;
  border: 1px solid rgba(255,255,255, 0.5);
  border-radius: 4px;
  margin: 4px 4px 4px 4px;
  background-color: rgba(255,255,255,0.1);
  width: 350px;
}
.speaker-list:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);

}
@media only screen and (max-width: 960px) {
  .speaker-list {
    width: 210px;
    p.mat-title{
      line-height: 24px !important;
    }
  }

}
