@import "src/styles/custom-theme";
.account-icon {
  //heig: scale(2);
  height: 48px;
  width: 48px;
  font-size: 48px;
  color: mat-color($DM-primary-dark, 300);
}
.profile-image {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 4px 0 0;
  img {
    width: 100%;
    text-align: center;
  }
}
