<h1 mat-dialog-title>Add item</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field fxFlex="">
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="data.firstName">
    </mat-form-field>
    <mat-form-field fxFlex="">
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)]="data.lastName">
    </mat-form-field>
    <mat-form-field fxFlex="">
      <mat-label>Display name</mat-label>
      <input matInput [(ngModel)]="data.displayName">
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="">
      <mat-label>Honor</mat-label>
      <mat-select [(value)]="data.honor">
        <mat-option *ngFor="let honor of ['Mr.', 'Mrs.', 'Ms.', 'H.E.']" [value]="honor">
          {{honor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="">
      <mat-label>Position</mat-label>
      <input matInput [(ngModel)]="data.position">
    </mat-form-field>
<!--    <mat-form-field fxFlex="">-->
<!--      <mat-label>Biography</mat-label>-->
<!--      <textarea matInput [(ngModel)]="data.bio" style="height: 150px"></textarea>-->
<!--    </mat-form-field>-->
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data"  *ngIf="update">Update</button>
  <button mat-button [mat-dialog-close]="data"  *ngIf="!update">Create</button>
</div>
