<mat-divider></mat-divider>
<div fxLayout="row" style="padding: 16px 0 16px 0">
  <div fxFlex></div>
  <div class="container footer-container" fxLayout="column" fxLayout.gt-sm="row">
    <div class="footer-content" fxLayout="column" fxLayout.gt-sm="row">
      <div class="footer-title" fxFlex="" fxHide.xs="">
        <div fxLayout="column" fxLayoutAlign="start start" >
          <button mat-button class="homeButton" [routerLink]="['/home']">
            <img src="../../../assets/Logo_white.png" alt="header_logo" class="toolbarLogo">
          </button>
          <div class="text" fxLayout="column" fxHide.xs="">
            <p class="mat-title" style="margin: 0 0 8px 0">The 18th International Mining Investors' Forum</p>
            <p class="mat-body-2">October 30, 2020</p>
            <p class="mat-body-1">Shangri-La, Ulaanbaater</p>
            <p class="mat-body-1">Ulaanbaatar Mongolia</p>
          </div>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <p class="mat-subheading-2">Useful links</p>
        <div fxLayout="column">
          <a class="mat-body-2" *ngFor="let item of footerMenu" routerLink="{{item.link}}" >
            {{item.name}}
          </a>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="text">
        <p class="mat-subheading-2" fxHide.xs="">Contact us</p>
        <div class="contact-content" fxLayout="column">
          <div fxLayout="row" style="height: 24px" >
            <button mat-icon-button aria-label="facebook" onclick="location.href='https://www.facebook.com/'">
              <i class="fab fa-facebook-f fa-2x" aria-hidden style="color: white"></i>
            </button>
            <button mat-icon-button aria-label="linkedin" onclick="location.href=''">
              <i class="fab fa-twitter fa-2x" aria-hidden="true" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>
