<mat-divider></mat-divider>
<div fxLayout="row">
  <div fxFlex></div>
  <div class="container footer-container" fxLayout="column" fxLayout.gt-sm="row">
    <div class="footer-title">
      <div fxLayout="row" fxLayoutAlign="start center" >
        <button mat-button class="homeButton" [routerLink]="['/home']">
          <img src="../../../assets/Logo_white.png" alt="header_logo" class="toolbarLogo">
        </button>
      </div>
    </div>
    <div class="footer-content" fxLayout="row" fxFlex="">
      <div fxFlex>Menu</div>
      <div fxFlex>Menu</div>
      <div fxFlex>Menu</div>
    </div>
  </div>
  <div fxFlex></div>
</div>
