<mat-divider></mat-divider>
<div fxLayout="row">
  <div fxFlex></div>
  <div class="container footer-container" fxLayout="column" fxLayout.gt-sm="row">
    <div class="footer-content" fxLayout="row">
      <div class="footer-title" fxFlex="" fxHide.xs="">
        <div fxLayout="column" fxLayoutAlign="start start" >
          <button mat-button class="homeButton" [routerLink]="['/home']">
            <img src="../../../assets/header_logo.png" alt="header_logo" class="toolbarLogo">
          </button>
          <div class="text" fxLayout="column" fxHide.xs="">
            <p class="mat-title" style="margin: 8px 0 8px 0; color: rgba(255,255,255,0.9)">The 18th International Mining Investors' Forum</p>
            <p class="mat-body-2" style="font-weight: 600">October 30, 2020</p>
            <p class="mat-body-1">Shangri-La, Ulaanbaatar</p>
            <p class="mat-body-1">Ulaanbaatar Mongolia</p>
          </div>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <p class="mat-subheading-2">Useful links</p>
        <div fxLayout="column">
          <a class="mat-body-2" *ngFor="let item of footerMenu" routerLink="{{item.link}}" >
            {{item.name}}
          </a>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="text">
        <div class="contact-content" fxLayout="column">
          <p class="mat-subheading-2" fxHide.xs="">Contact us</p>
         <app-social></app-social>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>
