@import "src/styles/custom-theme";
.discount-section {
  margin: 0 0 8px 0;
  background-color: white;
  border-radius: 6px;
  padding: 16px;
 .mat-headline {
   color: mat-color($DM-primary-dark,900);
   margin: 0;
 }
}
.discount-logo {
  width: 200px;
  img {
    width: 100%;
  }
}
.discount-icon {
  color: mat-color($DM-primary-dark,700);

  margin: 0 8px 0 0;
  //padding: 4px;
  width: 64px;
}
.image-button {
  height: 50px;
margin: 0 8px 0 0;
  img {
    height: 100%;
  }
}
.image-button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
  .image-button {
    height: 30px;
    margin: 0 8px 0 0;
    img {
      height: 100%;
    }
  }
}
