<ng-container *ngIf="data.content | async as content; else loading" >
  <button mat-icon-button style="position: absolute; right: 16px" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
    <div mat-dialog-title>
      {{data.title}}</div>
    <mat-dialog-content *ngIf="data.content | async as content">
      <div [innerHTML]="content.content"></div>
    </mat-dialog-content >
    <mat-dialog-actions align="end" >
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial [routerLink]="[data.url]">Go to page</button>
    </mat-dialog-actions>
</ng-container>
<ng-template #loading>
  <div mat-dialog-title class="ghost-title"> </div>
  <mat-dialog-content>
    <div class="ghost-text" *ngFor="let item of [1,2,3,4,5,6,7,8,10,11,12,12,13]"> </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="ghost-button"></button>
    <button mat-button class="ghost-button"> </button>
  </mat-dialog-actions>
</ng-template>



