<div class="light-theme" fxLayout="column" style="height: 100%">
  <div class="mat-app-background" fxLayout="column" fxFlex>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        Delegates
      </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="column" class="agenda-panel-container">
<!--      <button fxFlex="" mat-flat-button color="accent" (click)="openDialog($event)">Add item</button>-->
<!--      <button fxFlex="" mat-flat-button color="primary" (click)="addSession($event)">Add Session</button>-->
    </div>
    <div class="admin-images" >
      <mat-tab-group mat-align-tabs="start" color="accent">
        <mat-tab label="Registered delegates">
          <ng-container *ngIf="allDelegates | async as items">
            <app-delegate-list *ngFor="let item of items" [item]="item"></app-delegate-list>
          </ng-container>
        </mat-tab>
        <mat-tab label="Orders">Content 2</mat-tab>
      </mat-tab-group>


  </div>
</div>
