<div fxLayout="column" class="sponsors-container light-theme mat-app-background">
  <div class="company-list" fxLayout="column" fxLayout.gt-sm="row" *ngIf="cores | async as cores">
    <div class="section-title" fxLayout="column">
      <p class="mat-display-2">Core sponsors</p>
      <div class="mat-body-2 ">Co-Organizer, Premium sponsor, Platinum sponsor</div>
    </div>
    <div class="section-logos" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxFlex="">
      <div class="company-tile" *ngFor="let item of cores" fxLayout="column" fxLayoutAlign="center center">
        <p class="mat-body-2 company-title">{{item.title}}</p>

        <img [src]="item.logo" alt="">
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="company-list" fxLayout="column" fxLayout.gt-sm="row" *ngIf="golds | async as golds">
    <div class="section-title" fxLayout="column">
<!--      <p class="mat-display-2">Core Sponsors</p>-->
      <div class="mat-body-2 ">Gold sponsors, Bank of the Event, Badge sponsor</div>
    </div>
    <div class="section-logos" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxFlex="">
      <div class="company-tile" *ngFor="let item of golds" fxLayout="column" fxLayoutAlign="center center">
        <p class="mat-body-2 company-title">{{item.title}}</p>
        <img [src]="item.logo" alt="">
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
<!--  <div class="company-list" fxLayout="column" fxLayout.gt-sm="row" *ngIf="golds | async as golds">-->
<!--    <div class="section-title" fxLayout="column">-->
<!--      <p class="mat-display-2">Sponsors</p>-->
<!--      <div class="mat-body-2 ">Regular sponsors</div>-->
<!--    </div>-->
<!--    <div class="section-logos" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxFlex="">-->
<!--      <div class="company-tile" *ngFor="let item of golds" fxLayout="column" fxLayoutAlign="center center">-->
<!--        <p class="mat-body-2 company-title">{{item.title}}</p>-->
<!--        <img [src]="item.logo" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

