<mat-toolbar class="mat-primary top-toolbar" >
  <mat-toolbar-row>
    <div fxFlex></div>
    <div class="container" fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="center center">
        <p>test</p>
      </div>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="wrapper">
  <div class="gradient"></div>
  <video autoplay loop width="100%" #videoPlayer [muted]="true">
    <source [src]="'../../../assets/video_last.mp4'" type="video/mp4">
    browser no supported
  </video>
</div>
