<mat-toolbar class="mat-primary top-toolbar" >
  <mat-toolbar-row>
    <div fxFlex></div>
    <div class="container" fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="homeButton" [routerLink]="['/home']">
          <img src="../../../assets/Logo_white.png" alt="header_logo" class="toolbarLogo">
        </button>
      </div>
      <mat-nav-list fxLayout="row">
        <a *ngFor="let menu of topMenu" mat-list-item routerLink="{{menu.link}}" routerLinkActive="active"  role="navigation" style="font-weight: bold">
          {{menu.name }}
        </a>
      </mat-nav-list>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="wrapper">
  <div class="gradient"></div>
  <video autoplay loop width="100%" #videoPlayer [muted]="true">
    <source [src]="'../../../assets/video_last.mp4'" type="video/mp4">
    browser no supported
  </video>
</div>
