@import "./src/styles/styles";
.top-toolbar {
  position: absolute;
  top: 0;
  background-color: transparent !important;
  z-index: 5;
}
.homeButton {
  height: 42px;
  //width: 48px;
}
.toolbarLogo {
  height: 42px;
}
.top-navbar {
  //position: fixed;
  background-color: transparent;
  //z-index: 10000;
}
//a {
////  color: rgba(255, 255, 255, 0.8);
////}

.wrapper {
  //position: fixed;
  width: 100%;
}


