<mat-toolbar class="mat-primary top-toolbar" >
  <mat-toolbar-row>
    <div fxFlex></div>
    <div class="container" fxLayout="row" fxLayoutAlign.xs="space-between center">
      <ng-content></ng-content>
      <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-button class="homeButton" [routerLink]="['/home']" color="primary">
          <img src="../../../assets/logo_white.png" alt="header_logo" class="toolbarLogo">
        </button>
      </div>
      <mat-nav-list fxLayout="row" fxHide.xs="">
        <a class="mat-body-1 nav-link" *ngFor="let menu of topMenu" mat-list-item routerLink="{{menu.link}}" routerLinkActive="active-list-item"  role="navigation">
          {{menu.name }}
        </a>
      </mat-nav-list>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
