<app-navbar *ngIf="currentLayoutObj.layout1">
  <button type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) && (!currentLayoutObj.layout2)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</app-navbar>
<div class="wrapper" *ngIf="currentLayoutObj.layout1" >
  <ng-container [ngSwitch]="currentRoute">
    <app-video-wrapper *ngSwitchCase="'home'"></app-video-wrapper>
    <app-image-wrapper *ngSwitchDefault [route]="currentRoute">
    </app-image-wrapper>
  </ng-container>

</div>
<mat-sidenav-container [class.color-background]="currentLayoutObj.layout3" >
  <mat-sidenav #drawer class="mat-elevation-z3"
               [attr.role]="(currentRoute === 'admin') ? 'directory' : 'navigation'"
               [opened]="(currentRoute === 'admin') && !(isHandset$ | async)"
               [mode]="(currentRoute === 'admin') ? 'side' : 'over'">
    <mat-nav-list fxLayout="column">
      <a mat-list-item *ngFor="let item of sideMenu" routerLink="{{item.link}}">
        {{item.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" [fxLayoutAlign]="currentLayoutObj.layout3 ? 'center center' : ''">
    <div fxLayout="row" [class.layout-two]="currentLayoutObj.layout2">
      <div fxFlex="" *ngIf="currentLayoutObj.layout1"></div>
      <div [class.container]="currentLayoutObj.layout1" class="fullWidth">
        <ng-content></ng-content>
      </div>
      <div fxFlex="" *ngIf="currentLayoutObj.layout1"></div>
    </div>
    <app-footer *ngIf="currentLayoutObj.layout1"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
